.header {
    grid-area: header;
    background-color: saddlebrown;
}

.loginBlock {
    float: right;
    margin: 10px 10px;
}

.loginBlock a {
    color: white
}

/*.header > img {*/
/*    width: 50px;*/
/*}*/