.app-wrapper {
    margin: 0 auto;

    display: grid;
    width: 1200px;

    grid-template-areas:
  "header header header"
  "nav content content";
    grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    background-color: green;
}

.app-wrapper-content {
    grid-area: content;
    background-color: darkgrey;
}

.app-wrapper-content > img {
    height: 100px;
}






