.app-wrapper {
    margin: 0 auto;

    display: grid;
    width: 1200px;

    grid-template-areas:
  "header header header"
  "nav content content";
    grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    background-color: green;
}

.header {
    grid-area: header;
    background-color: red;
}

/*.header > img {*/
/*    width: 50px;*/
/*}*/

.nav {
    grid-area: nav;
    background-color: yellow;
}

.content {
    grid-area: content;
    background-color: orange;
}

.content > img {
    height: 100px;

}